{% extends 'base.html.twig' %}

{% block title %}Исполнитель{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="card shadow-sm border-0 rounded-4 overflow-hidden">
            <div class="row g-0">
                <!-- Фото исполнителя -->
                <div class="col-md-4 bg-light d-flex align-items-center justify-content-center p-3">
                    <div class="ratio ratio-1x1 w-100">
                        <img src="{{ artist.photoUrl }}"
                             alt="{{ artist.name }}"
                             class="img-fluid object-fit-cover rounded-3 shadow-sm"
                             onerror="this.src='{{ absolute_url(asset('static/images/no_image.webp')) }}'">
                    </div>
                </div>

                <!-- Информация -->
                <div class="col-md-8">
                    <div class="d-flex flex-column justify-content-between">
                        <div class="card-body p-4">
                            <h1 class="h3 fw-bold mb-4 text-primary">
                                {{ artist.name }}
                            </h1>
                            <p class="col-sm-9">{{ artist.bio|default('—') }}</p>
                        </div>

                        <div class="card-footer bg-white border-0 d-flex gap-2 px-4 pb-4">
                            <a href="{{ path('app_artist_index') }}" class="btn btn-outline-secondary px-3">Назад</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_artist_edit', {'id': artist.id}) }}"
                                   class="btn btn-primary px-3">Редактировать</a>
                                {{ include('artist/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Альбомы исполнителя -->
        <div class="card shadow-sm border-0 rounded-4 overflow-hidden p-3 mt-3">
            {% if artist.albums|length > 0 %}
                <h2 class="h5 fw-bold mb-4 ms-1 text-secondary">Альбомы</h2>
                <div class="row g-3">
                    {% for album in artist.albums|sort((a, b) => b.userScore <=> a.userScore)|slice(0, 6) %}
                        <div class="col-lg-2 col-md-3 mx-1">
                            {% include 'album/common/_album_card_small.html.twig' with { album: album } %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="mt-4 text-muted">Альбомов пока нет.</p>
            {% endif %}
        </div>

    </div>
{% endblock %}
