<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_album_index') }}">
            <i class="bi bi-music-note-list pe-1">  </i> Music Stat
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_album_index') }}">Лучшие альбомы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_album_new_releases') }}">Новые релизы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_album_by_genres') }}">Жанры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_artist_index') }}">Артисты</a>
                </li>
                <!-- Админ панель -->
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_album_new') }}">Добавить альбом</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="bi bi-person-circle"></i> {{ app.user.email }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right"></i> Выйти
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            <i class="bi bi-box-arrow-in-right"></i> Войти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            <i class="bi bi-person-plus"></i> Регистрация
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
